// Base style sheet
body{
	background: #eee;
}



#top-banner{
	background: #fff;
	overflow: hidden;
	background: #F4EFEA;

	h5 {
	font-size: 1em; 
	width: 14em; 
	line-height: 56px; 
	margin: 1em 0 0 1em;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: rgb(201, 193, 185);
	font-weight: normal;
	}

}

#logo {float: left; margin: .75em 0; }

div#photo{
	background: rgb(219, 214, 210) url(img/arrowhead.jpg) no-repeat 50% 50% fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	
	#content{
		background: rgba(255,255,255,0.2);
		margin: 5rem auto;
	}

	h5 {
		margin: 1em 0 .5em;
		font-weight: 400;
		color: #fff;
		letter-spacing: 1px;
		font-size: 1.5em
	}

	p {
		color: #fff;
	}
}

#bottom-banner{
	margin-top: 1rem;
	background: #F4EFEA;
}

input[type="text"], .button {
	font-family: open-sans, helvetica, arial, sans-serif;
	font-weight: 400;
	letter-spacing: 1px;
}

.button {text-transform: uppercase; color: rgb(150, 144, 140);}